/node_modules
/vendor
/.git
/.github
/.vscode
/.idea
/.env
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/hot
/public/storage
/tests
/phpunit.xml
/auth.json
/.phpunit.cache
/.fleet
/.zed
/npm-debug.log
/yarn-debug.log
/yarn-error.log
/.dockerignore
/Dockerfile
/docker-compose.yml
